#header-ul {
  color: #09295E;
  font-weight: bold;
  list-style-type: none;
  margin-bottom: 10px;
}

.li {
  list-style-type: none;
  margin-bottom: 8px;
}

span {
  margin-right: 5px;
}

.pointer {
  cursor: pointer;
}
